<footer>
  <hr>
  <div class="contact-line">
    <h3>Contact:</h3>
    <a href="mailto:{{ site.email }}">[Email >>>]</a>
    <a href="https://github.com/{{ site.github_username }}" target="_blank" rel="noopener">[GitHub >>>]</a>
  </div>
  <p class="mono">[ Visitors since 2020: ████████ ]</p>
  <p class="mono">LAST UPDATED: 2025-12-04</p>
  <p class="mono">BEST VIEWED IN: <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/08/Netscape_icon.svg/1280px-Netscape_icon.svg.png" alt="Netscape Navigator" class="netscape-logo"><a href="https://oldweb.today/?browser=ns4-win#https://liampittman.github.io/">Netscape Navigator</a></p>

  <p style="margin-top: 1rem;">© {{ 'now' | date: "%Y" }} {{ site.title }}</p>
</footer>
